<div class="modal-container">
  <form class="form" (ngSubmit)="onSave($event)" [formGroup]="formData" skipValidation>
    <div class="modal-header">
      <h2 class="fw-bold">{{ dialogData?.title }}</h2>
      <div class="btn btn-icon btn-sm btn-active-icon-primary">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal-Add"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>
    </div>
    <div class="modal-body py-10 px-lg-17">
      <div class="me-n7 pe-7" data-kt-scroll="true">
        <div class="fv-row row mb-7">
          <label class="required fs-4 fw-semibold mb-2 col-sm-3">Họ và tên</label>
          <div class="col-sm-1"></div>
          <div class="col-sm-8 fv-row">
            <!-- <input
              ngxTrim
              class="form-control form-control-solid fs-8 "
              type="text"
              maxlength="100"
              class="form-control"
              formControlName="userID"
              placeholder="Nhập họ và tên"
              [ngClass]="{
                'input-error': f.userID.invalid && (f.userID.dirty || f.userID.touched)
              }"
            /> -->

            <input
              type="text"
              class="form-control form-control-solid fs-8 col-sm-8"
              placeholder=""
              name="userID"
              maxlength="200"
              trim
              formControlName="userID"
              [ngClass]="{
                'input-error': f.userID.invalid && (f.userID.dirty || f.userID.touched)
              }"
            />
            <app-error-messages
              [control]="formData.controls['userID']"
              [controlName]="'UserID' | abpLocalization"
            ></app-error-messages>
          </div>
        </div>

        <div class="fv-row row mb-7">
          <label class="fs-4 required fw-semibold mb-2 col-sm-3"> Email </label>
          <div class="col-sm-1"></div>
          <div class="col-sm-8 fv-row">
            <input
              type="text"
              formControlName="email"
              class="form-control form-control-solid"
              placeholder=""
              maxlength="10"
              trim
              [ngClass]="{
                'input-error': f.email.invalid && (f.email.dirty || f.email.touched)
              }"
            />
            <app-error-messages
              [control]="formData.controls['email']"
              [controlName]="'Email' | abpLocalization"
            ></app-error-messages>

            <div class="fv-row mb-4 mt-4">
              <button type="reset" class="btn btn-light-primary me-3">Get code</button>
            </div>

            <div class="fv-row d-flex mb-7">
              <input
                type="text"
                class="form-control form-control-solid me-8"
                placeholder=""
                maxlength="10"
              />

              <button type="reset" class="btn btn-light-primary me-3">Verify</button>
            </div>
          </div>
        </div>

        <div class="fv-row row mb-7">
          <label class="required fs-4 fw-semibold mb-2 col-sm-3">Password</label>
          <div class="col-sm-1"></div>
          <div class="col-sm-8 fv-row">
            <input
              type="text"
              class="form-control form-control-solid fs-8 col-sm-8"
              placeholder=""
              name="password"
              maxlength="200"
              trim
              formControlName="password"
              [ngClass]="{
                'input-error': f.password.invalid && (f.password.dirty || f.password.touched)
              }"
            />
            <app-error-messages
              [control]="formData.controls['password']"
              [controlName]="'Password' | abpLocalization"
            ></app-error-messages>
          </div>
        </div>

        <div class="fv-row row mb-7">
          <label class="required fs-4 fw-semibold mb-2 col-sm-3">Re-type password</label>
          <div class="col-sm-1"></div>
          <div class="col-sm-8 fv-row">
            <input
              type="text"
              class="form-control form-control-solid fs-8 col-sm-8"
              placeholder=""
              name="reTypePassword"
              maxlength="200"
              trim
              formControlName="reTypePassword"
              [ngClass]="{
                'input-error':
                  f.reTypePassword.invalid && (f.reTypePassword.dirty || f.reTypePassword.touched)
              }"
            />
            <app-error-messages
              [control]="formData.controls['reTypePassword']"
              [controlName]="'ReTypePassword' | abpLocalization"
            ></app-error-messages>

            <label class="title mt-2">
              <input class="form-check-input" type="checkbox" />
              <span>
                I agree to the <a href=""> Terms of User</a> and
                <a href=""> Privacy Policy</a></span
              >
            </label>

            <div class="fv-row mt-2">
              <button type="submit" class="btn btn-light-primary me-3">Reset</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
