<div class="">
  <div class="container">
    <div class="card mt-5">
      <div class="card-header">
        <h5 class="card-title">Home</h5>
      </div>
      <div class="card-body">
        <div class="card mt-5">
          <div class="card-body">
            <div class="card-top">
              <h2>
                {{ 'Xin chào' }}
              </h2>
              <p>You have loged in successfully to Inspol Site Admin.</p>
              <div class="mb-4">
                <a href="https://inspol.stg01.wiz.com.sg/" class="btn btn-primary mb-1">
                  Inspol News
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="info-user">
            <div class="fw-bold fs-6 text-gray-800 mt-1">System Information</div>
            <div class="fw-bold fs-6 text-gray-800 mt-1">Web Site:</div>
            <div class="fw-bold fs-6 text-gray-800 mt-1">Site default email: wiztech</div>
            <div class="fw-bold fs-6 text-gray-800 mt-1">Technical Support</div>
            <div class="fw-bold fs-6 text-gray-800 mt-1">Email: admin@inspol.online</div>
            <div class="fw-bold fs-6 text-gray-800 mt-1">Telephone No: xxxx xxxx ext 7</div>
            <div class="fw-bold fs-6 text-gray-800 mt-1">Policy & Privacy</div>
            <div class="my-4">
              <a
                href="https://www.packtpub.com/product/mastering-abp-framework/9781801079242"
                class="btn btn-primary mb-1"
              >
                Open Policy and Privacy
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
